@import url(http://fonts.googleapis.com/css?family=Gudea);
#nav_top {
  border-bottom: 1px solid #9a9a9a; }

#nav_top > ul {
  float: left;
  list-style: none; }
  #nav_top > ul li {
    display: inline;
    margin-right: 30px; }
    #nav_top > ul li a {
      text-decoration: none;
      color: #343434;
      font-weight: bold; }

#nav_top > img {
  margin-top: 7px; }

#nav_top > ul > li > a:hover {
  color: #9a9a9a; }

.link_color {
  color: #409f89; }

.link_color:hover {
  color: #9a9a9a; }

.float_right {
  float: right; }

#nav_bottom {
  border-bottom: 1px solid #9a9a9a; }

#nav_bottom > ul {
  float: left;
  padding-bottom: 12px;
  list-style: none;
  border-bottom: 1px solid #9a9a9a; }
  #nav_bottom > ul li {
    display: inline;
    margin-right: 25px;
    -webkit-transition: #9a9a9a 0.2s ease-in-out;
    -moz-transition: #9a9a9a 0.2s ease-in-out;
    -ms-transition: #9a9a9a 0.2s ease-in-out;
    -o-transition: #9a9a9a 0.2s ease-in-out;
    transition: #9a9a9a 0.2s ease-in-out; }
    #nav_bottom > ul li a {
      text-decoration: none;
      color: #343434;
      font-size: 14px; }

.float_right > a > img {
  margin-top: 3px;
  padding-bottom: 0px;
  border-bottom: 1px solid #9a9a9a;
  width: 585px; }

.border {
  border-bottom: 1px solid #9a9a9a; }

.nav_bottom_left {
  border-right: 1px solid #9a9a9a;
  margin-right: 15px; }

body, html {
  background-color: #dee0df;
  font-family: "Gudea", sans-serif; }

#colorbar {
  height: 3px;
  background-color: #343434; }

#main {
  width: 1182px;
  margin: auto; }

.clear {
  clear: both; }
