@import url(http://fonts.googleapis.com/css?family=Gudea);
#nav_top {
  border-bottom: 1px solid #9a9a9a; }

#nav_top > ul {
  float: left;
  list-style: none; }
  #nav_top > ul li {
    display: inline;
    margin-right: 30px; }
    #nav_top > ul li a {
      text-decoration: none;
      color: #343434;
      font-weight: bold; }

#nav_top > img {
  margin-top: 7px; }

#nav_top > ul > li > a:hover {
  color: #9a9a9a; }

.link_color {
  color: #409f89; }

.link_color:hover {
  color: #9a9a9a; }

.float_right {
  float: right; }

#nav_bottom {
  border-bottom: 1px solid #9a9a9a; }

#nav_bottom > ul {
  float: left;
  padding-bottom: 12px;
  list-style: none;
  border-bottom: 1px solid #9a9a9a; }
  #nav_bottom > ul li {
    display: inline;
    margin-right: 25px; }
    #nav_bottom > ul li a {
      text-decoration: none;
      color: #343434;
      font-size: 14px; }

.float_right > a > img {
  margin-top: 3px;
  padding-bottom: 0px;
  border-bottom: 1px solid #9a9a9a;
  width: 585px; }

.border {
  border-bottom: 1px solid #9a9a9a; }

.nav_bottom_left {
  border-right: 1px solid #9a9a9a;
  margin-right: 15px; }

#content {
  padding: 40px 0px 40px 0px;
  font-size: .9em; }
  #content #left_content_pic {
    background-image: url(../images/content_pic.jpg);
    width: 459px;
    height: 287px;
    float: left; }
  #content #transform_circles {
    background: url(../images/transform_circles.png);
    width: 112px;
    height: 292px;
    float: left;
    opacity: 50%; }
  #content #right_content {
    width: 611px;
    height: 314px;
    float: left;
    position: relative;
    text-align: justify; }
  #content ul {
    padding: 0px;
    margin: 0px; }
  #content span {
    width: 611px;
    float: left;
    border-bottom: 1px solid #d5d7d6; }
  #content span li {
    display: inline;
    line-height: 30px; }
  #content span li:nth-of-type(1) {
    color: #343434;
    display: inline-block;
    width: 153px;
    background-color: transparent; }
  #content #text_alone {
    color: #343434;
    font-style: normal; }
  #content span li:nth-of-type(2) {
    color: #409f89;
    font-style: italic;
    display: inline-block;
    width: 195px;
    background-color: transparent; }
  #content span li:nth-of-type(3) {
    color: #343434;
    display: inline-block;
    width: 104px;
    background-color: transparent; }
  #content span li:nth-of-type(4) {
    color: white;
    display: inline-block;
    width: 110px;
    background-color: transparent; }
  #content .circle_1 {
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: #df6c4f;
    float: left;
    font-size: .8em;
    line-height: 17px;
    text-align: center; }
  #content .circle_2 {
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: #ecd06f;
    float: left;
    font-size: .8em;
    line-height: 17px;
    text-align: center;
    margin-left: 5px; }
  #content .circle_3 {
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: #409f89;
    float: left;
    font-size: .8em;
    line-height: 17px;
    text-align: center;
    margin-left: 5px; }
  #content .circle_4 {
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: #1a99aa;
    float: left;
    font-size: .8em;
    line-height: 17px;
    text-align: center;
    margin-left: 5px; }
  #content span li:nth-of-type(5) {
    color: #343434;
    display: inline-block;
    width: 33px;
    background-color: transparent; }
  #content #content_bottom {
    width: 100%;
    position: relative;
    background-color: transparent;
    float: left; }
  #content #artist_credit {
    width: 350px;
    height: 18px;
    float: left; }
  #content #artist_credit span {
    color: #409f89; }
  #content #artist_list li {
    width: 500px;
    height: 11px;
    float: right;
    background-color: #409f89;
    position: relative; }
  #content .font_pad {
    margin-top: 10px; }
  #content .a_circle_1 {
    width: 8px;
    height: 8px;
    color: #343434;
    border-radius: 50%;
    background-color: #df6c4f;
    float: right;
    font-size: .8em;
    line-height: 17px;
    text-align: right; }
  #content .a_circle_2 {
    width: 8px;
    height: 8px;
    color: #343434;
    border-radius: 50%;
    background-color: #ecd06f;
    float: right;
    font-size: .8em;
    line-height: 17px;
    text-align: right;
    margin-right: 50px; }
  #content .a_circle_3 {
    width: 8px;
    height: 8px;
    color: #343434;
    border-radius: 50%;
    background-color: #409f89;
    float: right;
    font-size: .8em;
    line-height: 17px;
    text-align: right;
    margin-right: 50px; }
  #content .a_circle_4 {
    width: 8px;
    height: 8px;
    color: #343434;
    border-radius: 50%;
    background-color: #1a99aa;
    float: right;
    font-size: .8em;
    line-height: 17px;
    text-align: right;
    margin-right: 50px; }

body, html {
  background-color: #dee0df;
  font-family: "Gudea", sans-serif; }

#colorbar {
  height: 3px;
  background-color: #343434; }

#main {
  width: 1182px;
  margin: auto; }

.clear {
  clear: both; }
