#content
{
  padding:40px 0px 40px 0px;
  // font-size:1.3em;
      font-size:.9em;
  #left_content_pic
  {
    background-image:url(../images/content_pic.jpg);
    width:459px;
    height:287px;
    float:left;
  }
  #transform_circles
  {
    background:url(../images/transform_circles.png);
    width:112px;
    height:292px;
    float:left;
    opacity:50%;
  }
  #right_content
  {
    width:611px;
    height:314px;
    float:left;
    position:relative;
    text-align: justify;
  }
  ul
  {
    padding:0px;
    margin:0px;
  }
  span
  {
    width:611px;
    float:left;
    border-bottom: 1px solid $content_border_color;
  }
    span li
    {
      display:inline;
      line-height: 30px;
    }

    span li:nth-of-type(1) /*1st row 1st li*/
    {
      color: $text_color;
      display:inline-block;
      width:153px;
    }

    span li :nth-of-type(2) /*2nd row 1st li only*/
    {
      color: $link_color;
      display:inline-block;
      width:195px;
      background-color: white;
    }

    span li:nth-of-type(3)
    {
      color: red;
      display:inline-block;
      width:104px;
      background-color: black;
    }

    span li:nth-of-type(4)
    {
      color: red;
      display:inline-block;
      width:110px;
      background-color: black;
    }

    span li:nth-of-type(5)
    {
      color: red;
      display:inline-block;
      width:33px;
      background-color: black;
    }










}