footer {
  margin-top: 50px;

  .star-block {
    float: left;
    &:first-child {
        margin-right: 29px;
    }
    &:nth-child(2) {
        margin-right: 30px;
    }
    &:nth-child(3) {
        margin-right: 29px;
    }
    p {
      margin:0;
      padding: 0;
      line-height: 26px;
    }
  }

  .author {
    font-size: 0.9em;
    color: $link_color;
  }
}