#nav_top
{
  // border-bottom: 1px solid $hover_color;
}

#nav_top > ul
{
  float: left;
  list-style: none;
  padding: 0;
    li
    {
     display: inline;
     margin-right: 30px;
    a
    {
      text-decoration: none;
      color: $text_color;
      font-weight: bold;
    }
  }
}

#nav_top > img
{
  margin-top: 7px;
}

#nav_top > ul > li > a:hover
{
  color: $hover_color;
}

.link_color
{
  color: $link_color;
}

.link_color:hover
{
  color: $hover_color;
}

.float_right
{
  float: right;
}

#nav_bottom
{
  border-bottom: 1px solid $hover_color;
}

#nav_bottom > ul {
  float: left;
  margin:0px;  /*I added this is take out the auto margin that was given by default*/
  list-style: none;
  padding:15px 0px 15px 0px; /*you needed this padding for the ul
   and for the li, the ul padding made it
    so the space was added but the borders
     weren't affected because their styled by
      the li so I also added padding to the li
       which extened the right borders :);*/
  border-bottom: 1px solid #9a9a9a; }
  #nav_bottom > ul li {
    display: inline;
    padding:15px 47.2px 15px 0px; /*adjust as needed you needed
    padding here and in the ul hope this works*/
    /*margin-right: 25px; margin is not needed when trying to push out from the inside :)*/
    border-right: 1px solid #9a9a9a; }
    #nav_bottom > ul li a {

      text-decoration: none;
      color: #343434;
      font-size: 14px; }

.float_right > a > img {
  margin-top: 3px;
  padding-bottom: 1.5px;
  /*border-bottom: 1px solid #9a9a9a; */}

.border {
  border-bottom: 1px solid #9a9a9a; }

/*YOU DONT NEED THIS CLASS .nav_bottom_left {
  border-right: 1px solid #9a9a9a;
  margin-right: 15px; }*/


